<div class="conteudo">
  {{#each erros}}
    <div class="alert alert-danger"> {{texto}} </div>
  {{else}}

  {{/each}}
  <div class="conteudo-form">
    <form class="" action="/admin/postagens/new" method="post">
      <h2>Formulario de Postagens:</h2>
      <div class="form-group">
        <label for="titulo" style="color: #3f4954">Titulo: </label>
        <input type="text" name="titulo" id="titulo" placeholder="Titulo do post" class="form-control"><br>
      </div>
      <div class="form-group">
        <label for="conteudo" style="color: #3f4954">Conteudo: </label>
        <input type="text" name="conteudo" id="conteudo" placeholder="Conteudo do post" class="form-control"><br>
      </div>
      <div class="form-group">
        <label for="descricao" style="color: #3f4954">Descrição do post: </label>
        <textarea name="descricao" class="form-control"></textarea><br>
      </div>
      <div class="form-group">
        <label for="categoria" style="color: #3f4954">Categoria:</label>
                <select name="categoria" class="form-select">
                    {{#each categoria}}
                        <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                        <option value="">Nenhuma Categoria registrada</option>
                    {{/each}}
                </select><br>
      </div>
      <input type="submit" name="criarPost" value="Criar Post" class="button-input">
  </form>

  </div>

</div>
