{{#each todos}}
<main>
        <section class="container">
          <!--Aqui-->
            <div class="site-content">
                <div class="posts">
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="./uploads/Blog-post/blog1.png" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{titulo}}</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{categoria.nome}}</span>
                                <span>{{conteudo}}</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">{{descricao}}</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                                adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                                nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                                illum similique veniam tempore unde?
                            </p>
                            <button class="btn post-btn">Saber mais &nbsp; <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <hr>
                </div>
                <aside class="sidebar">
                    <div class="popular-post">
                        <h2 class="text-gray">Mais Vistos</h2>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="./uploads/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray">{{titulo}}</i>&nbsp;&nbsp;{{categoria.nome}}</span>
                                    <span>2 {{conteudo}}</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                            <div class="post-image">
                                <div>
                                    <img src="./uploads/popular-post/m-blog-2.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray">{{titulo}}</i>&nbsp;&nbsp;{{categoria.nome}}</span>
                                    <span>{{conteudo}}</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>

        <section>
            <div class="blog">
                <div class="container">
                    <div class="owl-carousel owl-theme blog-post">
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="./uploads/Blog-post/post-1.jpg" alt="post-1">
                            <div class="blog-title">
                                <h3>{{titulo}}</h3>
                                <button class="btn btn-blog">{{categoria.nome}}</button>
                                <span>{{conteudo}}</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                            <img src="./uploads/Blog-post/post-3.jpg" alt="post-1">
                            <div class="blog-title">
                              <h3>{{titulo}}</h3>
                              <button class="btn btn-blog">{{categoria.nome}}</button>
                              <span>{{conteudo}}</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                            <img src="./uploads/Blog-post/post-2.jpg" alt="post-1">
                            <div class="blog-title">
                              <h3>{{titulo}}</h3>
                              <button class="btn btn-blog">{{categoria.nome}}</button>
                              <span>{{conteudo}}</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="./uploads/Blog-post/post-5.png" alt="post-1">
                            <div class="blog-title">
                              <h3>{{titulo}}</h3>
                              <button class="btn btn-blog">{{categoria.nome}}</button>
                              <span>{{conteudo}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- ----------x---------- Blog Carousel --------x-------- -->

        <!-- ---------------------- Site Content -------------------------->

        <section class="container">
          <!--Aqui-->
            <div class="site-content">
                <div class="posts">
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="./uploads/Blog-post/blog1.png" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{titulo}}</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{categoria.nome}}</span>
                                <span>2 conteudo</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">{{descricao}}</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                                adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                                nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                                illum similique veniam tempore unde?
                            </p>
                            <button class="btn post-btn">Saber mais &nbsp; <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="./uploads/Blog-post/blog3.png" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{titulo}}</span>
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{categoria.nome}}</span>
                                <span>{{conteudo}}</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">{{descricao}}</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                                adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                                nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                                illum similique veniam tempore unde?
                            </p>
                            <button class="btn post-btn">Saber mais &nbsp; <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="pagination flex-row">
                        <a href="#"><i class="fas fa-chevron-left"></i></a>
                        <a href="#" class="pages">1</a>
                        <a href="#" class="pages">2</a>
                        <a href="#" class="pages">3</a>
                        <a href="#"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="popular-post">
                        <h2 class="text-gray">Posts Populares</h2>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="./uploads/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{titulo}}</span>
                                    <span>{{categoria.nome}}</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">{{conteudo}}</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                            <div class="post-image">
                                <div>
                                    <img src="./uploads/popular-post/m-blog-2.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{titulo}}</span>
                                    <span>{{categoria.nome}}</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">{{conteudo}}</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                            <div class="post-image">
                                <div>
                                    <img src="./uploads/popular-post/m-blog-3.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{titulo}}</span>
                                    <span>{{categoria.nome}}</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">{{conteudo}}</a>
                            </div>
                        </div>
                        <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                            <div class="post-image">
                                <div>
                                    <img src="./uploads/popular-post/m-blog-4.jpg" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-calendar-alt text-gray">{{titulo}}</i>&nbsp;&nbsp;{{categoria.nome}}</span>
                                    <span>{{descricao}}</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">New data recording system to better analyse road accidents</a>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </section>

        <!-- -----------x---------- Site Content -------------x------------>

    </main>
{{/each}}
