<h3>{{categoria.nome}}</h3>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"> <button type="button" name="button" class="btn btn-success">Saber Mais</button> </a>
        <hr>
        <small>Data de publicação: {{data}}</small>
    </div>
  </div>
{{else}}
  <h5 class="mt-3">Nenhuma Postagem Salva</h5>
{{/each}}
